<!DOCTYPE HTML>
<html ng-app="tareasApp" ng-controller="AppController" data-ng-init="init()">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Tareas</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<link rel='stylesheet' type='text/css' href='css/bootstrap/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='css/layout.css' />
		<link rel='stylesheet' type='text/css' href='css/styles.css' />
		<link rel='stylesheet' type='text/css' href='css/mediaquery.css' />
	</head>
	<body>
		<div id="menuleft" ng-class="{hide:!showmenu,slide:showmenu}">
			<!--<h1>Demo</h1>!-->
			<ul ng-repeat="item in items">
				<li ng-click="toggleLeftMenu(item.url)" class="left-menu">
					<div>
						<img ng-src="{{item.src}}" />
					</div>
					<div>
						<p>{{item.title}}</p>
					</div>
				</li>
			</ul>
		</div>
		<div id="all" >
			<div class="overlay" ng-class="{show:showmenu}" ng-swipe-left="showmenu=false"></div>
			<div id="header" class="navbar navbar-default navbar-fixed-top" style="background-color:{{headerColor}}">
				<div>
					<button ng-click="toggleMenu()"></button>
				</div>
				<div>
					<h1>{{headerTitle}}</h1>
				</div>
			
				<div ng-show="deleteAllItemsOption">
					<div class="dropdown deleteAllItemsOption">
						<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" >
							&nbsp;
					  	</a>
					  	<ul class="dropdown-menu deleteAllItemsOptionBox" data-target="#deleteAllItemsModal" data-toggle="modal">
				          	<li>Borrar Todo</li>
				          	
	        			</ul>
					</div>
				</div>
				
				<div ng-show="optionsViewHeader">
					<img ng-src="{{img_color_palette}}" style="margin-right: 10px; padding-top:10px;" data-toggle="modal" data-target="#colorPalette"/>
					<img ng-src="{{img_trash}}" ng-show="deleteIcon" ng-click="deleteTask()"/>
					<img ng-src="{{img_archive}}" ng-show="archiveIcon" ng-click="archiveTask()"/>
					<img ng-src="{{img_add_image}}" ng-show="addNewImage" ng-click="addImageTask();" />
				</div>
			
			</div>
			<div id="wrapper" ng-class="{hide:showmenu,slide:!showmenu}">
				<div ng-view></div>
			</div>
		</div>
		
		<script type="text/javascript" src="cordova.js"></script>
		<script type="text/javascript" src="js/lib/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/lib/jaydata/datajs-1.0.3.min.js"></script>
		<script type="text/javascript" src="js/lib/jaydata/jaydata.min.js"></script>
		<script type="text/javascript" src="js/lib/jaydata/SqLiteProvider.min.js"></script>
		<script type="text/javascript" src="js/lib/angular.min.js"></script>
		<script type="text/javascript" src="js/lib/angular-touch.min.js"></script>
		<script type="text/javascript" src="js/lib/angular-route.min.js"></script>
		<script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
		<script type="text/javascript" src="js/lib/angular-locale_es-es.js"></script>
		<script type="text/javascript" src="js/controllers/tareas.js"></script>
		<script type="text/javascript" src="js/controllers/viewtarea.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/services.js"></script> 

		
	</body>
</html>