<!-- Modal Popup Delete Items!-->
<div class="modal fade" id="deleteAllItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1>¿Desea borrar la papelera?</h1>
			</div>
			<div class="modal-body">
				<p>Todos las notas guardadas se borrarán permanente.</p>
			</div>
			<div class="modal-footer">
				<div class="modal-header-Btn " data-dismiss="modal">Cancelar</div>
				<div class="modal-header-Btn" ng-click="deleteAllItemTrash()">Vaciar papelera</div>
			</div>
		</div>
	</div>
</div>
<!-- End Modal Popup Delete Items!-->


<div class="container">
	<div class="quick-note" ng-show="displayAddNewNoteQuickInput">
		<form name="quickTask" novalidate>
			<input type="text" name="newTarea" ng-model="newTarea.description" placeholder="Crea una nota rápida" on-enter="createQuickNote()" required >
		</form>
	</div>
	<div class="option-box" ng-show="displayAddNewNote">
		<div class="task-img"><img ng-src="{{img_task_icon}}" ng-click="createnewTask()"/></div>
		<div class="microphone-img"><img ng-src="{{img_microphone_icon}}" ng-click="openMicrophone()"/></div>
		<div class="camera-img"><img ng-src="{{img_camera_icon}}" ng-click="openCamera()"/></div>
	</div>
	<div class="items">
		<div ng-repeat="tarea in totalItems = (tareas | filter:filterExpr | orderBy:'date_created':true)" class="note" style="background-color:{{tarea.color}}" ng-click="displayTask({{tarea.Id}})">
			<img ng-src="{{tarea.imagenTask}}" ng-show="tarea.imagenTask" width="100%" height="100%" />
			<h1>{{tarea.title}}</h1>
			<h3>{{tarea.description}}</h3>
			<div class="box" ng-if="tarea.type !== 0">
				<img  ng-src="{{img_clock_icon}}"/>
				<h3  ng-show="!showRemider">{{tarea.date_reminder | date:'MMMM dd, HH:mm'}}</h3>
			</div>
		</div>
	</div>
	<div ng-show="totalItems.length == 0" class="empty-result">
		<img ng-src="{{SrcEmptyItems}}" />
		<h1>{{TitleEmptyItems}}<h1>
	</div>
	<div ng-show="exceptionTrashDelete" class="empty-result">
		<img ng-src="{{SrcEmptyItems}}" />
		<h1>{{TitleEmptyItems}}<h1>
	</div>
</div>	

