<!-- Modal Popup Delete Items!-->
<div class="modal fade" id="deleteImageSelected" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1>¿Desea borrar la imagen?</h1>
			</div>
			<div class="modal-body">
				<p>La imagen será borrada permanente</p>
			</div>
			<div class="modal-footer">
				<div class="modal-header-Btn " data-dismiss="modal">Cancelar</div>
				<div class="modal-header-Btn" ng-click="deleteImage()">Borrar Imagen</div>
				
			</div>
		</div>
	</div>
</div>
<!-- End Modal Popup Delete Items!-->

<!-- Modal Popup Background !-->
<div class="modal fade" id="colorPalette" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h1>Color de la Nota</h1>
			</div>
			<div class="modal-body">
				<div class="colors">
					<div class="color circle" ng-click="selectedColor('{{circle_white}}')" style="background:{{circle_white}}"></div>
					<div class="color circle" ng-click="selectedColor('{{circle_red}}')" style="background:{{circle_red}}"></div>
					<div class="color circle" ng-click="selectedColor('{{circle_orange}}')" style="background:{{circle_orange}}"></div>
					<div class="color circle" ng-click="selectedColor('{{circle_grass}}')" style="background:{{circle_grass}}"></div>
				</div>
				<div class="colors">
					<div class="color circle" ng-click="selectedColor('{{circle_grey}}')" style="background:{{circle_grey}}"></div>
					<div class="color circle" ng-click="selectedColor('{{circle_blue}}')" style="background:{{circle_blue}}"></div>
					<div class="color circle" ng-click="selectedColor('{{circle_clearblue}}')" style="background:{{circle_clearblue}}"></div>
					<div class="color circle" ng-click="selectedColor('{{circle_green}}')" style="background:{{circle_green}}"></div>
				</div>
			</div>
		</div>
	</div>
</div>
		
<!-- End Modal Popup Background !-->
<div class="container">
	<div class="quick-note">
		<form name="editTask" style="background-color:{{activeColor}}">
			<div ng-show="containImage"> 
				<img ng-src="{{currentTask.imagenTask}}" width="100%" height="100%" />
				<div class="delete-image" data-target="#deleteImageSelected" data-toggle="modal">X</div>
			</div>
			<input type="text" name="currentTask.title" ng-model="currentTask.title" placeholder="Título" ng-change="updateTitle()"/>
			<textarea class="animate msd-elastic: \n;" name="currentTask.description" ng-model="currentTask.description" placeholder="Descripción" ng-change="updateDescription()"></textarea>
			
			<div class="box reminder" ng-show="!showRemider" ng-click="changeReminderStatus()">
				<img  ng-src="{{img_bell_icon}}"/>
				<h3 ng-show="!showRemider">Recuerdame</h3>
			</div>
				
			<div class="box reminder" ng-show="showRemider">	
				<img ng-show="showRemider" ng-src="{{img_clock_icon}}">
				<div class="dropdown">
					<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" >
						{{currentRemainderDay}}
				  	</a>
				  	<ul class="dropdown-menu">
			          	<li ng-click="changeDate('Hoy',0)">Hoy</li>
			          	<li class="divider"></li>
			          	<li ng-click="changeDate('Mañana',1)">Mañana</li>
			          	<li class="divider"></li>
			          	<li ng-click="changeDate('nextWeek',7)">Proximo {{nextWeekDay}}</li>
			          	<li class="divider"></li>
			          	<li ng-click="openYearCalendar()">Abrir el Calendario</li>
        			</ul>
				</div>
				<div class="dropdown day">
					<a id="dLabel" role="button" data-toggle="dropdown" data-target="#" >
						{{currentRemainderPartDay}}
				  	</a>
				  	<ul class="dropdown-menu">
			          	<li ng-click="changeDay('por la mañana',9)">por la mañana<span>9:00</span></li>
			          	<li class="divider"></li>
			          	<li ng-click="changeDay('al medio día',13)">al medio día<span>13:00</span></li>
			          	<li class="divider"></li>
			          	<li ng-click="changeDay('por la tarde',17)">por la tarde<span>17:00</span></li>
			          	<li class="divider"></li>
			          	<li ng-click="changeDay('por la noche',20)">por la noche<span>20:00</span></li>
			          	<li class="divider"></li>
			          	<li ng-click="openDayCalendar()">Abrir el Calendario</li>
        			</ul>
				</div>
				<h3 class="close-box" ng-click="closeReminder()">X</h3	>	
			</div>
							
			<div class="box location" ng-show="!showLocation" ng-click="changeLocationStatus()">
				<img ng-src="{{img_location_icon}}"/>
				<h3>Localízame me</h3>
			</div>
		</form>
	</div>
</div>