/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.overlay.show{
		left:60% !important;
	}
	#menuleft{
		width:60% !important;
		left: -60% ;
	}
	#header h1 {
		width: 80% !important;
	}
	#menuleft.slide {
		left: 0px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	.overlay.show{
		left:60% !important;
	}
	#menuleft{
		width:60% !important;
		left: -60% ;
	}
	#header h1 {
		width: 80% !important;
	}
	#menuleft.slide {
		left: 0px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.overlay.show{
		left:60% !important;
	}
	#menuleft{
		width:60% !important;
		left: -60% ;
	}
	#header h1 {
		width: 80% !important;
	}
	#menuleft.slide {
		left: 0px;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}