.left-menu{
	display: inline-flex;
}
.left-menu p{
	padding-top: 11px;
	padding-left: 14px;
}

.deleteAllItemsOption{
	float:right;
}
.deleteAllItemsOption button {
	
}
.deleteAllItemsOption{
	width:29px;
	height:28px;
	margin-top:12px;
	width: 10px !important;
	background:transparent url('../img/button.png') no-repeat
}
.deleteAllItemsOption a:hover{
	text-decoration: none;
}
.deleteAllItemsOptionBox{
	margin: 8px 0 0 -140px !important;
}


.quick-note{
	background:white;
}

.option-box{
	background:white;
}
.task-img{
	min-width: 30%;
	display: inline-block;
	text-align: center;
}
.microphone-img{
	min-width: 30%;
	display: inline-block;
	text-align: center;
}
.camera-img{
	min-width: 30%;
	display: inline-block;
	text-align: center;
}
.reminderbox{
	border-top-width:1px;
  	border-top-style:dotted;
 	border-top-color:rgb(162, 156, 156);	
}
input, input[type="text"], input:focus {
    border: none;
    outline: none;
	background:transparent;
	width:100%;
	padding: 6px;
	font-size: 19px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: rgb(162, 156, 156);
}


textarea{
    border: none;
    outline: none;
	background:transparent;
	width:100%;
	padding: 6px;
	font-size: 19px;
}
/*Items*/
.items{
	padding-top: 12px;
}
.items a{
	text-decoration: none;
}
.items h1{
	font-weight: bold;
	padding-left: 10px;
	color: #000;
}
.items h3{
	font-size: 16px;
	color: #000;
}

.note{
	margin: 5px 2px 2px 0px;
	padding: 10px;
}

.container{
	margin-top: 54px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
}
/*Transaction effects*/

/*Modal*/
.modal-dialog h1{
	color:blue;
	text-align: center;
}
.modal-dialog p{
	color:black;
	text-align: center;
}
.modal-header {
	border-bottom: 2px dotted #0F5FD8 !important;
}
.modal-header-Btn {
	display: inline-block;
	min-width: 46%;
	text-align: left;
}
.modal-body{
	text-align: center;
}
.colors{
	display: inline-flex;
	width:76%;
	padding-bottom: 26px;
}
.color{
	margin: auto;
}
.circle{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid rgba(0, 0, 0, 0.15);

}
.reminder{
	padding-left: 9px;
}
.location{
	padding-left: 9px;
}
.box h3{
	display: inline;
	color:rgb(162, 156, 156);
	font-size: 14px
}
.box li{
	padding-left: 3px;
}
.close-box{
	float: right;
	color: black !important;
	font-size: 15px;
	padding-right: 13px;
	padding-top: 4px;
}
.box{
	/*background:white;*/
	border-top-width:1px;
  	border-top-style:dotted;
 	border-top-color:rgb(162, 156, 156);
	margin:0 auto
}
.box img{
	vertical-align: middle;
}

.dropdown{
	display: inline;
}
.box a{
	display: inline;
	color: black;
	font-size: 14px;
	text-decoration: underline;
}
.dropdown-menu{
	padding: 7px;
}
.day{
	padding-left: 3px;
}

.day span{
	float: right;
	color: rgb(162, 156, 156);

}

.empty-result img{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.empty-result h1{
	text-align: center;
	padding-top: 50px;
	font-size: 36px;
	color: rgb(124, 115, 115)
}
.delete-image{
	position: absolute;
	color: white;
	text-align: right;
	width: 94%;
	margin-top: -31px
}

